:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #191a1b;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
/*
Author : koukkai;
Theme: website admin;
version: 1.0;

*/
*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
.wrapper {
  padding: 5%;
  width: 150%;
  margin: 0 auto;
}
.text-center{
  text-align: center;

}
.clearfix{
  float: none;
  clear: both;
}
.tbl-30{
  width: 40%;
  padding: 1%;
}
.tbl-full{
  width: 100%;
}
table tr th{
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td{
  padding: 1%;
}
.btn-primary{
  background-color: rgb(113, 113, 255);
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn-primary:hover{
  background-color: rgb(39, 39, 48);
}
.btn-secondary{
  background-color: rgb(126, 231, 142);
  padding: 1%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.btn-secondary:hover{
  background-color: rgb(38, 83, 40);
} 
.btn-danger{
  background-color: rgb(235, 56, 56);
  padding: 1%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.btn-danger:hover{
  background-color: rgb(70, 26, 26);
}
.success{
  color: rgb(42, 61, 165);
}
.error {
  color: rgb(179, 39, 39);
}
/* css for menu */
.menu {
  border-bottom: 1px solid black;
}
.menu ul{
  list-style-type: none;
}
.menu ul li{
  display: inline;
  padding: 1%;
}
.menu ul li a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(46, 72, 223);
}
.menu ul li a:hover{
  color: rgb(104, 125, 241);
}
/* css for main content */
.col-4{
  width: 100%;
  background-color: whitesmoke;
  margin: 4%;
  padding: 2%;
  float: left;
}
/* css for footer */
.footer {
  background-color: rgb(104, 125, 241); 
  color: whitesmoke;

}
/* login */
.login {
  
  border: 1px solid grey;
  width: 30%;
  margin: 10% auto;
  padding: 2%;
}
